.add {
    margin: 50px auto;
    width: 400px;
    text-align: center;
  }
  .firstpart{
margin-left: -300px;
margin-top: 20px;
  }
  .secondpart{
    margin-left: 200px;
    margin-top:-370px;

  }
  h1 {
    margin-bottom: 20px;
    color: rgb(255, 94, 0);
  }
  
  table {
    width: 150%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  
  td {
    padding: 8px;
    text-align: left;
  }
  
  td:first-child {
    text-align: right;
  }
  
  input {
    width: 100%;
    padding: 20px 45px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type='file'] {
    border: none;
  }
  
  button {
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color:rgb(255, 94, 0);
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 94, 0);
  }
  
  a button {
    margin-left: 10px;
  }
  
  a button:first-child {
    margin-left: 0;
  }
  .btn1 {
    margin-right: 10px;
  }
  
  .btn2 {
    margin-left: 10px;
  }
  .add{
    margin-left: -200px;
    margin-top: 600px;
  }