body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(223, 223, 252);
  }
  
  .form-container {
    display: flex;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .right-side {
    background-color: rgb(255, 115, 0);
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .left-side {
    flex: 1;
    padding: 20px;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
    cursor: pointer;
  }