.navbar {
    background-color: #6b6565;
    padding: 10px;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .nav-link:hover {
    background-color: #ddd;
  }